/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav	{
	/*value for rem is short for root-em, most of browsers
has a font size value of 16px*/
/*1rem is equivalent to 16px*/


	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*value for rem is short for root-em, most of browsers
has a font size value of 16px*/
/*1rem is equivalent to 16px*/
/*0.8 multiply to 16 , is equals to 12.800 */
/*margin bottom 16*2 =32* /

  /*margin vs padding*/
  /*margin is best used when creating space between 
  elements.*/
  /*padding is best used when creating space between 
  the element's border and it's content*/

nav .nav, nav .nav-logo {
	/*display inline - changes elements to inline elements*/
	display: inline;
	margin: 0.5rem;
	/* margin-top: 0.5rem
	margin-right: 0.5rem
	margin-bottom: 0.5rem
	margin-left: 0.5rem */
}

#intro {
	/*padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;*/
	/*start from 30rem check in browser
	then half it to reduce space
	then repeat until u get required */

	/*shorthand property*/
	padding: 2rem 10% 3rem 10%;

	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding: 2rem 10% 3rem 10%;
	/*top right bottom left - in clockwise direction
	from top */

}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info .card {
	/*display - allows the cards to appear beside
	 each other*/
	display: inline-block;
	/*vertical-align : aligns the elements with the 
	tallest element in line*/
	vertical-align: top;
	/*min-height:  allows for the cards to have an 
	equal height that adjust with the content */
	/*min-height:  usually define to identify the 
	minimum height */
	/*if the min-height is 200pox but the text 
	is only till 50px, then 150px is blank */
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}