* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
	position: sticky;
	
}

nav .nav, nav .nav-logo {
	display: inline-block;
	margin: 0.5rem;
	
}

.right-nav {
	float: right;
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 370px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center top;
}

.front-bg {
	display: inline-block;
	
	
	color: white;
	float: right;
	
}

.container {
	background-color: rgba(0, 0, 0, 0.5);
}

.front-bg {
	/*background-color: rgba(0, 0, 0, 1)*/
	/*background-color: black;*/
	opacity: 10
	/*margin: 25px 25px 100px 1000px;*/
	margin-left: 70%;
	/*min-height: 650px;*/
	/*background-size: 100%;*/

}

.title {
	
	/*padding: 2rem;*/
	/*margin: 10px 20px 30px 20px;*/
	/*text-align: right;*/

	color: white;
 	text-align: right;
 	font-size: 5em;
 	margin: 0;
 	/*line-height: 10rem;*/
 	margin-left: 20%;
	
} 

.subtitle {
	padding: 2rem;
	/*margin: 10px 20px 30 px 50px;*/
	/*border: 100px;*/
	margin-left: 50%;
	text-align: right;
	
}

.apply-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
	margin-left: 80%;

}

.title , .title-2 {
	font-family: Zilla Slab;
}

.intro {
	text-align: center;
	display: inline-block;
	margin: 50px;
}

.title-2 {
	margin-bottom: 40px;
}

.intro-description {
	margin-left: 25%;
	margin-right: 25%;
}

.pre-footer {
	background-color: #336589;
	text-align: center;
	padding: 50px;
}

.prefooter-description {
	margin-left: 25%;
	margin-right: 25%;
}

.book-button {
	background-color: #336589;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
	/*margin-left: 1%;*/
	margin-top: 10px;

}

footer {
	text-align: center;
}

/*html {
	height: 1000vh;
}*/