#div-1 {
	background-color: green;
	display: inline;
	/*no change for inline-block*/
}

#span-1 {
	background-color: purple;
	display: inline-block;
	/*by adding inline display nothing changes
	as the span-1 is already a block element*/
	/*by adding inline-block display, there are changes*/
	width: 200px;
	height: 200px;
	/*the width and the height of our span will not 
	change, because we cannot use width and height in 
	propeerty display: inline*/
	display: none;
	/*display:none make span-1 dissapear*/
}

#span-2 {
	background-color: red;
}

#div-2 {
	background-color: hotpink;
	display: none;
	/*the display: none will change - will make 
	div-2 dissapear*/
}

#img {
	display: inline-block;
	/*no change by adding display: inline-block*/
	width: 250px;
	height: 250px;
}

#p-1 {
	background-color: #87CEFA;
}

#p-2 {
	background-color: rgb(255, 155, 180);
	width: 60%;
}

#p-3 {
	background-color: yellow;
	width: 40%;
}

.sample	{
	width: 30%;
	border: 1px solid black;
	text-align: center;
	/*display: inline;*/
	/*by applying display: inline width 30% is not 
	getting applied and all the data will 
	appear in a line*/
	display: inline-block;
	/*now we have width 30% applied with inline-block display*/

}

/*Float property*/
.img-float {
	width: 250px;
	height: 250px;

	/*float: right;*/
	/*this float:right will make image in class 
	img-float to appear on the right side*/
	float: inherit;
	/*This inherits the original structure 
	i.e., the image comes back to left side as 
	before applying float: right*/
	/*Differnt values: right, left*/
}

/*CSS Units*/

.box {
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hundred-pixels {
	width: 100px;
}

.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
	/*font-size 30px is added for rem,em font-size
	 change*/
}

.fifty-vw {
	width: 50vw;
	/*vw is for width*/
	/*it gives/occupies 50% of total width */
	/*they are not relative to parents screen size width*/
}

.twenty-five-vh {
	height: 25vh;
	/*vh is for height*/
}

/*vh and vw , viewport units*/
/*these are relative to the viewports width 
1VW = 1% of the viewport's width 
50 VW = 50% viewport's width*/

/*for example,  we put 50VW , 
it will occupy 50% of the viewport's 
width and it is regardless of the actual screen size*/

/*VW is very much useful for creating full-width 
elements (100%) that fill up the entire viewport's
 width.*/
/*similarly with VH*/

.one-rem {
	font-size: 1rem;
}

.one-em {
	font-size: 1em;
}

.two-rem {
	font-size: 2rem;
}

.two-em {
	font-size: 2em;
}

/*rem stands for root element*/
/*REM: Relative to the root element (HTML Tag)*/
/*EM: Relative to the parent element*/
/*em size is relative to parent element font-size*/

.two-hundred-percent {
	font-size: 200%;
}

/*inside the parent element, em ,200% sizes are
 relative to parent element size*/

 /*CSS Background Properties*/
 .background {
 	/*min-height: 20rem;*/
 	min-height: 1000px;
 	/*providing a min height for this section*/
 	/*background-color: grey;*/
 	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
 	background-repeat: no-repeat;
 	/*to not repeat the image multiple times*/
 	/*here some part is image, some part is blank grey 
 	, if the background-color is grey*/
 	background-size: 100%;
 	/*so that the image occupies required space like 
 	occupies only 50% of screen, if it is 50%*/
 	background-position: center top;
 	/*this places image at center top*/
 	background-attachment: scroll;
 }

 .bg-title {
 	color: white;
 	text-align: center;
 	font-size: 5em;
 	margin: 0;
 	line-height: 35rem;
 	/*35rem is height of h3*/
 }

 .container-bg {
 	background-color: rgba(0, 0, 0, 0.5);
 	min-height: 1000px;
 }

 /*CSS Positioning*/

 .parent-element {
 	background-color: skyblue;
 	position: relative;
 	padding: 50px 10px;
 	height: 800px;
 }

 .child-one {
 	background-color: gray;
 	padding: 10px;
 }

 .child-two {
 	background-color: yellow;
 	padding: 10px;
 	position: sticky;
 	top: 10px;
 }

 .child-three {
 	background-color: gray;
 	padding: 10px;
 }

 html {
 	height: 800vh;
 }
 /*we just added overall height of html */

 /*Z-Index*/
 .container {
 	position: relative;
 }

 .black-box {
 	position: relative;
 	z-index: 1;
 	border: 2px solid black;
 	height: 100px;
 	margin: 30px;
 }

 .gray-box {
 	position: absolute;
 	z-index: 3;
 	background: lightgray;
 	height: 60px;
 	width: 70%;
 	left: 50px;
 	top: 50px;
 }

 .green-box {
 	position: absolute;
 	z-index: 2;
 	background: lightgreen;
 	width: 35%;
 	left: 270px;
 	top: -15px;
 	height: 100px;
 }