* {
	font-family: "courier new, monospace;"
	font-size: 20px;
}

h2 {
	color: pink;
}

h1 {
	font-size: 20px;
}

h3 {
	text-transform: uppercase;
}

.offering-language {
	background-color: lightgreen;
}

section2 > ol > li {
	border-style: solid;
}

/*h4 + li {
	border-style: solid;
}*/

/*ol[required] {
	border-style: solid;
	
}*/

img + ol {
	list-style-type: none;
	letter-spacing: 5px;
}

/*section ~ p {
	align-content: center;
}*/

/*body > section > ul {
	letter-spacing: 5px;
}*/